
*.VC.db*
*.VC.DB*

*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.ipdb
*.pdb
*.idb
*.ilk
build
Debug
documentation/html
*~
*.o
*.obj
*.iobj
*.bak
*.dep
*.lib
*.a
*.i
*.d

*.uvgui*
JLinkLog.txt

~$*

[Dd]ebug/
[Rr]elease/
ipch/

*.log

*.suo
*.opendb

*.pro.user
build-*